{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">Answer Keys</h2>
<div class="table-responsive">
    <table class="table table-custom table-hover border">
        <thead class="table-light">
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for key in answerkeys %}
            <tr>
                <td class="fw-500">{{ key.title }}</td>
                <td>{{ key.published_at|date:"d M Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
